# Auto detect text files and perform LF normalization
* text=auto
Assets/Plugins/Tool/Firebase/Plugins/x86_64/FirebaseCppApp-*.bundle filter=lfs diff=lfs merge=lfs -text
Assets/Plugins/Tool/Firebase/Plugins/x86_64/FirebaseCppApp-*.so filter=lfs diff=lfs merge=lfs -text
